/* =======================================================================
Shell
========================================================================== */
.container {
	@include container;
}

.col1 {
	@include span(6);
}

.col2 {
	@include span(6 last);
}

.col {
}

main {
	@include clearfix;
}

.accordion--desktop {
	h3 {
		line-height: 2.5;
		margin: 0;
	}
	p {
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}
}

/* =======================================================================
Header
========================================================================== */
.banner {}


/* =======================================================================
Footer
========================================================================== */
.footer {}


/* =======================================================================
Nav
========================================================================== */
.primary-nav {}
